body{
  display:flex;
  justify-content: space-around;
  align-items: center;
}

#container{
  height: 800px;
  width: 800px;
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-grow: 1;
  width: 800px;
}

.square{
  border-style: solid;
  border-width: 1px;
  flex-grow: 1;
  background-color: rgba(255, 0, 0, .1);
}